<h1> FINRA project </h1>
<div class="container" style="align-content: center">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="searchForm">

        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" required>
          <mat-error *ngIf="searchForm.get('phoneNumber').hasError('pattern')">
            Phone number must have 7 or 10 digits
          </mat-error>
        </mat-form-field>

        &nbsp; &nbsp;
        <button mat-raised-button (click)="searchPhone()"> SEARCH</button>
      </form>
      <div class="mat-elevation-z8" *ngIf="showResults" style="width: 50%">

      <table mat-table [dataSource]="tableData" >


        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell  *matHeaderCellDef> Phone Number </mat-header-cell >
          <mat-cell  *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>

        <tr mat-row nthChild [ngClass]='{ highlight: index%2 ==1}' *matRowDef="let row; columns: displayColumns;"></tr>

      </table>
          <ul >
            <li>
              <a [hidden]="disableLast" [routerLink]="" (click)="getPage('last')">Last</a>
            </li>
            <li>
              <a [hidden]="disableNext" [routerLink]="" (click)="getPage('next')">Next</a>
            </li>
            <li>
             page: {{page + 1}} of {{lastPage + 1}}
            </li>
            <li>
              <a [hidden]="disablePrevious" [routerLink]="" (click)="getPage('previous')">Previous</a>
            </li>
            <li>
              <a [hidden]="disableFirst" [routerLink]="" (click)="getPage('first')">First</a>
            </li>
            <li>
                <label>page size: </label>
                <select [(ngModel)]="pageSize" (change)="pageSizeChanged()">
                  <option *ngFor="let item of sizeList" [value]="item.value">
                    {{item.value}}
                  </option>
                </select>
            </li>

          </ul>



      </div>



    </div>
  </div>
</div>


<router-outlet></router-outlet>
